/* TABLE OF CONTENTS */
/* ------------------
1. General
2. Navbar
3. Banner
4. About
5. Project
6. Contact
7. Footer
-------------------- */

/* 1 General */
/*
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} */
html
{
	scroll-behavior:smooth;
}
body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',sans-serif;
    background-color:#0e1525;
    color:#c6c9d8bf;
}
h1 {
    font-size: 54px;
    line-height: 68px;
    font-weight: 800;
    color:#fff;
    margin-bottom:20px;
}

h1 span {
    color:#FD4766;
}

h2 {
    font-size: 50px;
    line-height:1.3;
    font-weight:600;
    color:#fff;
    margin-bottom: 15px;
}
h2 span {
    color:#FD4766;
}

h3 {
    margin-bottom: 19px;
    font-weight: 600;
    font-size: 20px;
    color:#fff;
}

h6 {
    color:#c6c9d8bf;
    font-size: 17px;
    letter-spacing: 4px;
    display:block;
    margin-bottom:20px;
}

p {
    color:#c6c9d8bf;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 1px;
    font-weight: 400;
}
section {
    padding: 50px 0;
}
.subtitle {
    display: inline-block;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 18px;
    font-size: 16px;
    margin-bottom:12px;
    background:linear-gradient(-224deg, #FD4766 0,#337DFF 100%);
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
}





/* 2 Navbar */
.header_wrapper .navbar {
    padding:10px;
}

.header_wrapper .navbar-brand img {
    max-width:80px;
    height:50px;
    border:3px solid #c6c9d8bf;
}

.header_wrapper .navbar-toggler {
    color:#c6c9d8bf;
    line-height:2;
}

.header_wrapper .nav-item {
    margin:0 10px;
}

.header_wrapper .nav-item .nav-link {
    position: relative;
    font-size: 16px;
    font-weight:700;
    color:#c6c9d8bf;
    display:inline-block;
}

.header_wrapper .nav-item .nav-link::after {
    position: absolute;
    content:"";
    left: 0;
    width:0;
    height:2px;
    background:#FD4766;
    transition:0.3s;
    bottom:0;
}

.header_wrapper .nav-item .nav-link.active::after,
.header_wrapper .nav-item .nav-link:hover::after {
    width: 100%;
}

.header_wrapper .nav-item .nav-link.active,
.header_wrapper .nav-item .nav-link:hover {
    color:#fff;
}





/* 3 Banner */
/* Scroll Bar CSS */

::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-thumb {
    border-radius:10px;
    background:#FD4766;
}

.banner_wrapper {
    width: 100%;
    height: auto;
    min-height:650px;
    background-image: url('../images/bg-image.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    padding: 200px 0 100px 0;

}
.main-btn{
    display:inline-block;
    border-radius: 50px;
    transition: all .4s ease-in-out;
    padding: 10px 27px;
    background:transparent;
    border: 2px solid #c6c9d8bf;
    color:#c6c9d8bf;
    font-size: 14px;
    letter-spacing: 2px;
    text-decoration: none;
}

.main-btn:hover {
    background-color:#FD4766;
    border-color:#FD4766;
    color:#fff;
}





/* 4 About */
.about_wrapper ul.nav-pills {
    border: 2px solid #c6c9d8bf;
    border-radius: 50px;
}

.about_wrapper ul li .nav-link {
    border-radius: 50px;
    font-size: 15px;
    font-weight: 500;
    display: inline-block;
    color:#c6c9d8bf;
}

.about_wrapper ul li .nav-link.active {
    background-color:#FD4766;
}

.about_wrapper .single-progress {
    margin-top: 26px;
    position: relative;
}

.about_wrapper .single-progress .progress {
    height: 4px;
    border-radius: 4px;
}

.about_wrapper .progress-bar {
    background-image:linear-gradient(-224deg, #FD4766 0,#337DFF 100%);
}
.about_wrapper #pills-develop .progress-bar{
    background-image:linear-gradient(-224deg, #8ef509 0,#337DFF 100%);
}

.about_wrapper .single-progress h6 {
    text-align: left;
}

.about_wrapper .single-progress .label {
    position: absolute;
    right: 0;
    top: 0;
    color:#c6c9d8bf;
    font-size: 15px;
}

.about_wrapper .tab-pane li {
    color:#c6c9d8bf;
    font-size: 16px;
    margin-bottom: 15px;
    font-weight: 300;
}
.about_wrapper .tab-pane a {
    font-weight: 500;
    display: block;
    background-image:linear-gradient(-224deg, #FD4766 0,#337DFF 100%);
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
}









/* 5 Project */
.project_wrapper .card {
    height:100%;
    min-height: 350px;
    overflow:;
    border: 2px solid #c6c9d8bf;
    cursor: pointer;
    box-shadow: 0 0 16px 4px #c6c9d8bf; 
}

.project_wrapper .card span {
    transition:3s ease-in-out;
    width: 100%;
    height: 100%;
    background-position: top center;
    background-size: cover;
}

.project_wrapper .card:hover span {
    background-position: bottom center;
}
.project_wrapper .card a{
    font-size:20px;
    font-weight: 700;
    text-decoration:none;
    background-image:linear-gradient(-224deg, #FD4766 0,#337DFF 100%);
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
    
} 





/* 6 Contact */
.contact_wrapper .form-control,
.contact_wrapper textarea {
    background-color:transparent;
    border-color:#c6c9d8bf;
    color:#c6c9d8bf;
    font-size: 15px;
    font-weight: 400;
    padding: 10px 20px;
}
.contact_wrapper .form-control:hover,
.contact_wrapper textarea:hover,
.contact_wrapper .form-control:focus,
.contact_wrapper textarea:focus { 
    border-color:#FD4766;
    color:#fff; 
}  
.contact_wrapper .call_details{
    color:#c6c9d8bf;
}
.contact_wrapper .call_details a{
    font-weight: 700;
    color:#c6c9d8bf;
}





/* 7 footer */
.footer_wrapper {
    background-color:#0e1529;
    padding:10px 0;
}

.footer_wrapper .footer-logo img {
    width: 70px;
}

.footer_wrapper .social-icon li {
    margin: 6px;
}

.footer_wrapper .social-icon a {
    width: 35px;
    height: 35px;
    line-height: 30px;
    font-size: 20px;
    display: inline-block;
    border: 2px solid #c6c9d8bf;
    color:#c6c9d8bf;
    text-align: center;
    border-radius:100%;
}

.footer_wrapper .social-icon a:hover {
    background-color:#FD4766;
    border-color:#FD4766;
    color:#fff;
    box-shadow: 0 0px 16px 4px #c6c9d8bf;
    transform: translateY(-3px);
}
.footer_wrapper .copyright-text p{
    font-size:11px;
    line-height: 20px;
}
.footer_wrapper .copyright-text a {
    color: var(--primary-color);
}
